client/prisma/schema.prisma
client/.env
server/.env
client/prisma/migrations/migration_lock.toml
.vscode/settings.json
*/next.config.js
client/next.config.js
client/package-lock.json
package-lock.json
