@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.modal {
  @apply opacity-100 visible pointer-events-auto;
}

.modal-box {
}

.react-calendar__tile__disable__clicks {
  pointer-events: none;
}
.react-calendar__tile__enabled {
  background-color: rgb(159, 208, 159) !important;
}
.react-calendar__tile__enabled:hover {
  pointer-events: all !important;
  background-color: rgb(65, 203, 65) !important;
}

.react-calendar__tile {
  background-color: rgb(236, 236, 236);
  margin: 5px 0px 5px 0px;
  width: 30px;
  padding: 15px;
  border-radius: 50px;
}
.react-calendar__tile:hover {
  background-color: rgb(213, 213, 213);
}
.react-calendar__month-view__weekdays__weekday {
  display: flex;
  justify-content: center;
}
.react-calendar {
  width: 450px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 6px 2px #d5d5d5;
  border-radius: 10px;
}
.react-calendar__month-view__days {
  padding: 2px;
}

.react-calendar__navigation__label {
  font-size: large;
  padding: 5px 10px 5px 10px;
}

.react-calendar__navigation__arrow {
  font-size: larger;
  padding: 5px;
}

.react-calendar__tile:disabled {
  background-color: rgb(233, 233, 233);
}
/* .dropdown .dropdown-content {
  @apply opacity-100 visible 
} */
.modal-instructor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.request-box {
  display: flex;
  justify-content: center;
}

.modal-mountains{
  display: flex;
  flex-wrap: wrap;
  justify-content:center
}

